.settings_panel {
    width: 300px;
    float: right;
    right: 0;
    top: 0;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    // background-color: aquamarine;

    @media screen and (max-width: 840px) {
       width: 100%;
       height: auto;
    }

    > div {
        > .title {
                width: 100%;
                text-align: center;
            > span {
                font-size: 14px;
                font-weight: bold;
                color: #8e4700;
            }
        }

        > .info-row {
            text-align: center;
            > img {
                transform: translateY(6px);
            }
            > span {
                font-size: 14px;
                font-weight: bold;
                color: #8e4700;
          
            }
        
        }
 
        height: 200px;
        width: 250px;
        padding-top: 10px;
        margin: auto;
        top: 50%;

        @media screen and (max-width: 840px) {
            -ms-transform: none;
            transform: none;
        }
        > .general-button {
            cursor: pointer;
            background-color: #8e4700;
            color: #ffe4c4;
            border: none;
            border-radius: 3px;
            &:active {
                transform: translate(2px,2px);
                background-color: #c60;
            }
            &:hover {
                background-color: #c60;
            }
        }
        
        > div {
            img {
                width: 25px
            }
        }
         
    }
}