.svg_display {
    float: left;
    position: relative;
    width: 500px; 
    height: 500px; 
    
    @media screen and (max-width: 840px) {

    }

    > .svg_canvas {
        background-color: #fadcb7;
        width: 500px; 
        height: 500px; 
        position: absolute;
        border-radius: 5px;
    }

    > .svg_overlay {
        width: 500px; 
        height: 500px; 
        position: absolute;
    }
}