.App {
  height: 100vh;
  background-color:bisque;

  > .main {
    width: fit-content;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 500px;
  }
}

